@media (max-width: 1100px) {
  /* header */
  .header__logo {
    left: 39%;
  }
  .footer__logo {
    left: 43%;
  }
}



@media (max-width: 950px) {
  /* container */
  .container {
    padding: 64px 32px;
  }

  /* header */
  .header__menu {
    display: grid;
    grid-template-columns: 1fr 10fr;
    align-items: center;
    justify-content: center;
    padding: 14px 32px;
  }

  .burger__wrapper {
    display: block;
  }
  
  .header__logo {
    position: static;
    justify-self: center;
  }

  .header__menu .menu-list {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 0;
    padding: 0;
    position: absolute;
    z-index: -1;
    top: 43px;
    border: 1px solid rgba(227, 108, 230, .1);
    border-radius: 0px 0px 10px 10px;
    background-color: rgba(255, 255, 255, .969);
    transition: all .5s ease-in-out;
  }

  .header__menu .burger__wrapper.active ~ .menu-list {
    height: 100vh;
    padding: 20px 0 15px;

  }

  .header__menu .menu-list__inner {
    flex-direction: column;
  }

  .header__menu .menu-list__item {
    padding: 6px 0;
    width: 100%;
  }

  .header__menu .menu-list__item:not(:last-of-type) {
    margin-bottom: 5px;
    margin-right: 0;
  }

  .header__menu .menu-list__item .menu-list__link{
    display: block;
    width: 100%;
    font-size: 20px;
    line-height: 21px;
    text-align: left;
  }

  .header__menu .menu-list__item .menu-list__link:hover{
    background: #FCFAFF;
    box-shadow: inset 0px 0px 10px #F8E0FA;
  }

  .link_drop-down-list::after {
    left: 74px;
    top: 18px;
    width: 7px;
    height: 7px;
    border-bottom: 2px solid #4B5567;
    border-right: 2px solid #4B5567;
    transform: rotate(45deg);
  }

  .drop-down-list__wrapper {
    position: static;
    background-color: inherit;
    box-shadow: none;
    max-height: 0;
    overflow: hidden;
  }

  .header__menu .drop-down-list__item .menu-list__link {
    margin-left: 20px;
  }

  .link_drop-down-list.active + .drop-down-list__wrapper {
    max-height: 500px;
  }

  .drop-down-list__item {
    padding: 6px 0;
  }

  .drop-down-list__item:last-of-type {
    padding: 6px 0 0;
  }

  /* main */
  /* hero */
  .hero__inner {
    padding: 0;
  }
}



@media (max-width: 834px) {
  /* main */
  .title {
    font-size: 40px;
    line-height: 56px;
  }

  .paragraph {
    max-width: 690px;
  }

  /* hero */
  .hero__title {
    font-size: 72px;
    line-height: 88px;
  }

  /* partners */
  .partners .container {
    padding: 32px;
  }

  .partners__inner {
    gap: 24px;
    max-width: 455px;
    margin: 0 auto;
  }

  .partners__inner img {
    max-width: 135px;
  }

  /* section Our Team */
  .team {
    order: 3;
  }

  .team__subtitle {
    margin-bottom: 40px;
  }

  .team__card {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }

  .card-item__title {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 12px;
  }

  /* section Hottest Collectionsl */
  .collections {
    order: 2;
  }
}



@media (max-width: 540px) {
  /* main */
  /* partners */
  .partners .container {
    padding: 32px 16px;
  }

  .partners__inner {
    gap: 16px;
    max-width: 288px;
  }

  .partners__inner img {
    max-width: 85px;
  }
}



@media (max-width: 500px) {
  /* container */
  .container {
    padding: 48px 16px;
  }

  /* header */
  .header__menu {
    padding: 14px 16px;
  }

  .burger__wrapper {
    padding: 7px 0;
  }

  .burger-menu,
  .burger__wrapper::before,
  .burger__wrapper::after {
    width: 25px;
    height: 3px;
  }

  .burger__wrapper.active::before {
    transform: rotate(45deg) translate3d(4px, 5px, 0);
  }

  .svg-logo-shadow {
    width: 32px; 
    height: 32px;
  }
  
  .logo__text {
    margin-left: 5px;
    width: 85px; 
    height: 13px;
  }

  .burger__wrapper.active ~ .menu-list {
    height: 100vh;
  }

  /* main */
  .title {
    font-size: 36px;
    font-weight: 48px;
  }

  .paragraph {
    font-size: 14px;
    font-weight: 20px;
  }

  .btn {
    padding: 12px;
  }

  /* hero */
  .hero__title {
    font-size: 36px;
    line-height: 56px;
  }

  .hero__subtitle {
    font-size: 16px;
    font-weight: 24px;
  }

  /* section Our Team */
  .card-item__title {
    font-size: 20px;
    line-height: 26px;
  }
}