.hero_bg-shapes {
  will-change: animation;
}

.shapes {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}

.semicircle {
  background-image: url('../img/hero/Background_semicircle.png');
  background-position: left 50px top 5px;
  animation: semicircle 4s linear infinite;
}

@keyframes semicircle {
  from{
    background-position: left 50px top 5px;
  }
  50%, 55%{
    background-position: left 50px top 30px;
  }
  95%, to{
    background-position: left 50px top 5px;
  }
}

.cone {
  background-image: url('../img/hero/Background_cone-blur.png');
  background-position: right 150px top 45px;
  animation: cone 3s linear infinite;
}

@keyframes cone {
  from{
    background-position: right 150px top 45px;
  }
  50%, 55%{
    background-position: right 150px top 35px;
  }
  95%, to{
    background-position: right 150px top 45px;
  }
}

.spring {
  background-image: url('../img/hero/Background_spring-blur.png');
  background-position: left 0px bottom -35px;
  animation: spring 3.5s linear infinite;
}

@keyframes spring {
  from{
    background-position: left 0px bottom -35px;
  }
  50%, 55%{
    background-position: left 0px bottom -25px;
  }
  95%, to{
    background-position: left 0px bottom -35px;
  }
}

.crystal {
  background-image: url('../img/hero/Background_crystal.png');
  background-position: right 31px bottom -20px;
  animation: crystal 4.5s linear infinite;
}

@keyframes crystal {
  from{
    background-position: right 31px  bottom -20px;
  }
  50%, 55%{
    background-position: right 31px  bottom 5px;
  }
  95%, to{
    background-position: right 31px  bottom -20px;
  }
}


/* adaptive */
@media (max-width: 950px) {
  .semicircle {
    background-size: 173px;
  }
  
  @keyframes semicircle {
    from{
      background-position: left -50px top 5px;
    }
    50%, 55%{
      background-position: left -50px top 30px;
    }
    95%, to{
      background-position: left -50px top 5px;
    }
  }
  
  .cone {
    background-size: 111px;
  }
  
  @keyframes cone {
    from{
      background-position: right -30px top 45px;
    }
    50%, 55%{
      background-position: right -30px top 35px;
    }
    95%, to{
      background-position: right -30px top 45px;
    }
  }
  
  .spring {
    background-size: 193px;
  }
  
  @keyframes spring {
    from{
      background-position: left -30px bottom -25px;
    }
    50%, 55%{
      background-position: left -30px bottom -15px;
    }
    95%, to{
      background-position: left -30px bottom -25px;
    }
  }

  .crystal {
    background-size: 154px;
  }

  @keyframes crystal {
    from{
      background-position: right -80px  bottom -15px;
    }
    50%, 55%{
      background-position: right -80px  bottom 10px;
    }
    95%, to{
      background-position: right -80px  bottom -15px;
    }
  }
}


@media (max-width: 500px) {
  .semicircle {
    background-size: 114px;
  }
  
  @keyframes semicircle {
    from{
      background-position: left -55px top 115px;
    }
    50%, 55%{
      background-position: left -55px top 140px;
    }
    95%, to{
      background-position: left -55px top 115px;
    }
  }
  
  .cone {
    background-size: 52px;
  }
  
  @keyframes cone {
    from{
      background-position: right 0px top 0px;
    }
    50%, 55%{
      background-position: right 0px top 15px;
    }
    95%, to{
      background-position: right 0px top 0px;
    }
  }
  
  .spring {
    background-size: 123px;
  }
  
  @keyframes spring {
    from{
      background-position: left -40px bottom 15px;
    }
    50%, 55%{
      background-position: left -40px bottom 0px;
    }
    95%, to{
      background-position: left -40px bottom 15px;
    }
  }

  .crystal {
    background-size: 105px;
  }

  @keyframes crystal {
    from{
      background-position: right -50px  bottom 60px;
    }
    50%, 55%{
      background-position: right -50px  bottom 35px;
    }
    95%, to{
      background-position: right -50px  bottom 60px;
    }
  }
}