*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Space Grotesk', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #532C59;
}

ul {
  list-style: none;
}

img {
  display: block;
}

a {
  text-decoration: none;

}

/* container */
.container {
  margin: 0 auto;
  padding: 0 70px;
  max-width: 1440px;
}

/* header */
.header__wrapper {
  background-color: #ffffff;
  border-bottom: 1px solid rgba(227, 108, 230, .4);
  box-shadow: 0 1px 2px rgba(227, 108, 230, .3);
}

.header__inner {
  padding: 26px 0;
  position: relative;
}

.header_bottom-border {
  background-color: #ffffff;
  border-bottom: 1px solid rgba(227, 108, 230, .4);
  box-shadow: 0 1px 2px rgba(227, 108, 230, .3);
}

.logo {
  position: absolute;
  left: 45%;
  top: 25%;
  display: flex;
  align-items: center;
}

/* подсветка логотипа при наведении */
.svg-logo-shadow defs feDropShadow {
  flood-color: transparent;
  transition: all .3s;
}
.logo:hover feDropShadow {
  flood-color: #ffd700;
}


.logo__text {
  margin-left: 5px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__inner {
  display: flex;
  align-items: center;
}

.menu__item:not(:last-of-type) {
  margin-right: 6px;
}

.menu__link {
  padding: 12px;
  font-weight: 500;
  line-height: 20px;
  color: #000000;
  opacity: .5;
  transition: all .2s linear;
}

.menu__link:hover {
  opacity: 1;
}

.link_drop-down-list {
  position: relative;
  margin-right: 10px;
}

.link_drop-down-list::after {
  content: '';
  display: inline-block;
  position: absolute;
  right: -4px;
  top: 17px;
  width: 5px;
  height: 5px;
  border-bottom: 2px solid #4B5567;
  border-right: 2px solid #4B5567;
  transform: rotate(45deg);
}

/* main */
.title {
  font-family: 'Syne', sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  color: #000000;
  text-transform: capitalize;
}

.paragraph {
  max-width: 760px;
  margin: 24px auto;
}

/* section hero */
.hero {
  position: relative;
  max-width: 1500px;
  margin: 0 auto;
}
.hero__inner {
  padding: 110px 0;
  position: relative;
}

.hero_bg {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 499px;
  left: 0px;
  top: 57px;
  background: radial-gradient(50% 50% at 50% 50%, #E36CE6 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0.4;
  filter: blur(116px);
}

.hero__title {
  font-size: 80px;
  line-height: 96px;
  text-shadow: -5px 5px 0 #FFFFFF;
  text-transform: none;
}

.hero__subtitle {
  margin: 32px auto;
}

.hero__btn {
  width: 114px;
  height: 52px;
  background-color: #532C59;
  border-radius: 15px;
  border: none;
  outline: none;
  font-family: 'Syne', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  cursor: pointer;
}

/* section logos */
.partners {
  padding: 40px 0;
  opacity: 0.8;
}

.partners__inner {
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  column-gap: 40px;
}

.partners__inner img {
  max-width: 150px;
  height: auto;
}

/* section OurTeam */
.team {
  padding: 80px 0;
}

.team__subtitle {
  margin-bottom: 80px;
}

.team__card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.team__card-item {
  display: flex;
  flex-direction: column-reverse;
}

.team__card-item img {
  max-width: 80px;
  height: auto;
  margin: 0 auto 12px;
}

.card-item__title {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 12px;
}

.card-item__prof {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

/* section Hottest Collectionsl */
.collections {
  padding: 80px 0;
}

.collections__subtitle {
  margin: 16px auto 64px;
}

.collections__card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 64px 32px;
  align-items: flex-start;
}

.collections__card-item {
  display: flex;
  flex-direction: column-reverse;
  max-width: 412px;
}

.collections__card-item .wrapper-image {
  box-shadow: inset 15px -15px 0px rgba(255, 255, 255, 0.5);
  margin-bottom: 16px;
  border-radius: 30px;
}

.collections__card-item .wrapper-image img {
  border-radius: 30px;
  position: relative;
  z-index: -1;
}

.collections__card-item .card-item__title {
  font-family: 'Syne', sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 42px;
  text-transform: none;
}

.card-item__description {
  font-size: 14px;
  line-height: 20px;
}

/* section we-provide */
.provide {
  padding: 80px 0 104px;
}

.provide__subtitle {
  margin-bottom: 40px;
}

.provide__wrapper {
  display: flex;
  justify-content: space-between;
}

.provide__item {
  display: flex;
  flex-direction: column-reverse;
  max-width: 301px;
  align-items: center;
  align-self: flex-start;
  padding: 16px;
}

.item__title {
  font-family: 'Space Grotesk',sans-serif;
  font-size: 28px;
  line-height: 36px;
  text-transform: none;
  margin-bottom: 12px;
}

.item__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

.item__img {
  width: 40px;
  height: auto;
  margin-bottom: 12px;
}

.item__img.sales {
  width: 38px;
}

.item__img.lock {
  width: 32px;
}

/* testimonials */
.testimonials {
  padding-top: 80px;
}
.testimonials__title {
  margin-bottom: 80px;
}

.testimonials__viewport {
  display: grid;
  grid-template-columns: repeat(3, 412px);
  column-gap: 23px;
  height: 720px;
  overflow: hidden;
}

.testimonials__wrapper {
  position: relative;
}

.card {
  padding: 24px;
  margin-bottom: 25px;
  width: 412px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  background-color: #f9f5ff;
  border: 1px solid #D6BCFA;
  border-radius: 10px;
  position: absolute;
}

.card__profile {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-bottom: 16px;
}

.card__name {
  font-weight: 500;
  line-height: 20px;
  color: #000000;
}

.card__nikname {
  color: #000000;
  opacity: .5;
}

.card__avatar {
  width: 48px;
  height: 48px;
  margin-right: 8px;
}