*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h3,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Space Grotesk', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #532C59;
}

ul {
  list-style: none;
}

img {
  display: block;
}

a {
  text-decoration: none;

}

/* container */
.container {
  margin: 0 auto;
  padding: 80px 70px;
  max-width: 1440px;
}

/* header */
.header {
  position: relative;
  z-index: 2;
  width: 100%;
  animation-duration: .8s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

/* показать header при скроле вниз */
@keyframes headerOn{
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0,-77px,0);
    -ms-transform: translate3d(0,-77px,0);
    transform: translate3d(0,-77px,0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0,0.1px,0);
    -ms-transform: translate3d(0,0.1px,0);
    transform: translate3d(0,0.1px,0);
  }
}
/* убрать header  */
@keyframes headerOff{
  0% {
    opacity: 1;
    -webkit-transform: translate3d(0,0.1px,0);
    -ms-transform: translate3d(0,0.1px,0);
    transform: translate3d(0,0.1px,0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0,-77px,0);
    -ms-transform: translate3d(0,-77px,0);
    transform: translate3d(0,-77px,0);
  }
}

.header__menu {
  padding: 26px 70px;
  background-color: #ffffff;
  border-bottom: 1px solid rgba(227, 108, 230, .4);
  box-shadow: 0 1px 2px rgba(227, 108, 230, .3);
}

.burger__wrapper {
  max-width: 30px;
  margin-left: 10px;
  padding: 9px 0;
  position: relative;
  cursor: pointer;
  display: none;
}

.burger-menu {
  width: 30px;
  height: 3px;
  background-color: #000000;
  position: relative;
  border-radius: 20px;
  transition: transform .3s ease-in-out;
}

.burger__wrapper::before,
.burger__wrapper::after {
  content: '';
  width: 30px;
  height: 3px;
  background-color: #000000;
  position: absolute;
  left: 0;
  border-radius: 20px;
  transition: all .5s ease-in-out;
}

.burger__wrapper::before {
  top: 0;
  transition: transform .3s ease-in-out;
}

.burger__wrapper::after {
  bottom: 0px;
  transition: all .5s ease-in-out;
}

.burger__wrapper.active .burger-menu {
  transform: rotate(-45deg);
}

.burger__wrapper.active::before {
  transform: rotate(45deg) translate3d(6.5px, 6.5px, 0);
}

.burger__wrapper.active::after {
  height: 0;
  transform: translateY(100vh);
}

/* общие стили для логотипа в header и footer */
.logo {
  position: absolute;
  left: 45%;
  display: flex;
  align-items: center;
}

.svg-logo-shadow {
  width: 40px; 
  height: 40px;
}

.logo__text {
  margin-left: 5px;
  width: 107px; 
  height: 17px;
}

/* стили для логотипа в header */
.header__logo {
  top: 25%;
}

/* подсветка логотипа при наведении */
.svg-logo-shadow defs feDropShadow {
  flood-color: transparent;
  transition: all .3s;
}
.logo:hover feDropShadow {
  flood-color: #ffd700;
}


/* общие стили для меню header и footer */
.menu {
  position: relative;
}

.menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-list__inner {
  display: flex;
  align-items: center;
}

.menu-list__item:not(:last-of-type) {
  margin-right: 6px;
}

.menu-list__link {
  padding: 10px;
  font-weight: 500;
  line-height: 20px;
  color: #000000;
  opacity: .5;
  transition: all .2s linear;
}

.menu-list__link:hover {
  opacity: 1;
}

.link_drop-down-list {
  position: relative;
  margin-right: 10px;
}

.link_drop-down-list::after {
  content: '';
  display: inline-block;
  position: absolute;
  right: -4px;
  top: 18px;
  width: 5px;
  height: 5px;
  border-bottom: 2px solid #4B5567;
  border-right: 2px solid #4B5567;
  transform: rotate(45deg);
  transition: transform .3s linear;
}

.drop-down-list__wrapper {
  position: absolute;
  top: -70px;
  z-index: -1;
  background-color: #FFFFFF;
  border-radius: 0 0 10px 10px;
  text-align: left;
  box-shadow: 0 1px 3px rgba(227, 108, 230, .3);
  transition: all .3s ease-in-out;
}

.drop-down-list__item {
  padding: 12px 0;
}

.link_drop-down-list.active::after {
  transform: rotate(-135deg);
}

.link_drop-down-list.active + .drop-down-list__wrapper {
  top: 70px;
}

/* main */
.main {
  display: flex;
  flex-direction: column;
}

.title {
  font-family: 'Syne', sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  color: #000000;
  text-transform: capitalize;
}

.paragraph {
  max-width: 760px;
  margin: 24px auto;
}

.btn {
  padding: 16px 20px;
  background-color: #532C59;
  border-radius: 15px;
  border: none;
  outline: none;
  font-family: 'Syne', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  cursor: pointer;
}

/* section hero */
.hero {
  order: 0;
  position: relative;
  max-width: 1500px;
}
.hero__inner {
  padding: 37px 0 30px;
  position: relative;
}

.hero_bg {
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 499px;
  left: 0px;
  top: 57px;
  background: radial-gradient(50% 50% at 50% 50%, #E36CE6 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0.4;
  filter: blur(116px);
}

.hero__title {
  font-size: 80px;
  line-height: 96px;
  text-shadow: -5px 5px 0 #FFFFFF;
  text-transform: none;
}

.hero__subtitle {
  margin: 32px auto;
}

/* section partners */
.partners {
  order: 1;
  opacity: 0.8;
}

.partners .container {
padding: 40px 70px;
}

.partners__inner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.partners__inner img {
  max-width: 150px;
}

/* section Our Team */
.team {
  order: 2;
}

.team__subtitle {
  margin-bottom: 60px;
}

.team__card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.team__card-item {
  display: flex;
  flex-direction: column-reverse;
}

.team__card-item img {
  max-width: 80px;
  height: auto;
  margin: 0 auto 12px;
}

.card-item__title {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 12px;
}

.card-item__prof {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

/* section Hottest Collectionsl */
.collections {
  order: 3;
}

.collections__subtitle {
  margin: 16px auto 64px;
}

.collections__card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 64px 32px;
  align-items: flex-start;
}

.collections__card-item {
  display: flex;
  flex-direction: column-reverse;
  max-width: 412px;
}

.collections__card-item .wrapper-image {
  box-shadow: inset 15px -15px 0px rgba(255, 255, 255, 0.5);
  margin-bottom: 16px;
  border-radius: 30px;
}

.collections__card-item .wrapper-image img {
  border-radius: 30px;
  position: relative;
  z-index: -2;
}

.collections__card-item .card-item__title {
  font-family: 'Syne', sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 42px;
  text-transform: none;
}

.card-item__description {
  font-size: 14px;
  line-height: 20px;
}

/* section we-provide */
.provide {
  order: 4;
  padding: 80px 0 104px;
}

.provide__subtitle {
  margin-bottom: 40px;
}

.provide__wrapper {
  display: flex;
  justify-content: space-between;
}

.provide__item {
  display: flex;
  flex-direction: column-reverse;
  max-width: 301px;
  align-items: center;
  align-self: flex-start;
  padding: 16px;
}

.item__title {
  font-family: 'Space Grotesk',sans-serif;
  font-size: 28px;
  line-height: 36px;
  text-transform: none;
  margin-bottom: 12px;
}

.item__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

.item__img {
  width: 40px;
  height: auto;
  margin-bottom: 12px;
}

.item__img.sales {
  width: 38px;
}

.item__img.lock {
  width: 32px;
}

/* testimonials */
.testimonials {
  order: 5;
  padding-top: 80px;
}
.testimonials__title {
  margin-bottom: 80px;
}

.testimonials__viewport {
  display: grid;
  grid-template-columns: repeat(3, 412px);
  column-gap: 23px;
  height: 720px;
  overflow: hidden;
  position: relative;
}

.testimonials__wrapper {
  position: relative;
}

.card {
  padding: 24px;
  margin-bottom: 25px;
  width: 412px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  background-color: #FCFAFF;
  border: 1px solid #D6BCFA;
  border-radius: 10px;
  position: absolute;
  z-index: -2;
}

.card__profile {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-bottom: 16px;
}

.card__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.card__nikname {
  color: #000000;
  opacity: .5;
}

.card__avatar {
  width: 48px;
  height: 48px;
  margin-right: 8px;
}

/* FAQ */
.FAQ {
  order: 6;
  padding: 80px 0 35px;
}

.FAQ__wrapper {
  display: flex;
  text-align: left;
}

.FAQ__inner-title {
  font-weight: 600;
  max-width: 412px;
  margin-right: 32px;
}

.FAQ__subtitle {
  font-weight: 400;
}

.FAQ__items {
  display: flex;
  column-gap: 32px;
}

.items__column {
  max-width: 412px;
}

.item {
  width: 412px;
  position: relative;
  padding: 24px;
  background-color: #FFFFFF;
  border: 1px solid #D6BCFA;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color .3s ease-out;
}

.item:not(:last-of-type) {
  margin-bottom: 24px;
}

.item__question {
  max-width: 308px;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  opacity: 0.8;
}

.item__question::after {
  content: '';
  position: absolute;
  top: 33px;
  right: 31px;
  width: 8px;
  height: 8px;
  border-bottom: 2px solid #9F7AEA;
  border-right: 2px solid #9F7AEA;
  transform: rotate(45deg);
  transition: transform .3s ease-in-out;
}

.item__answer {
  font-size: 14px;
  line-height: 20px;
  overflow: hidden;
  transition: .3s ease-out;
}

.item.active .item__question::after {
  transform: rotateX(-180deg) rotateY(-180deg) rotateZ(45deg);
}

/* sell */
.sell {
  order: 7;
  padding: 80px 0;
}

.sell__wrapper {
  padding: 117px 295px;
  background: #FCFAFF;
  border: 1px solid #D6BCFA;
  box-shadow: inset 0px 0px 50px #F8E0FA;
  border-radius: 60px;
  background-image: 
    url('../img/crystalAndCone.png'),
    url('../img/semicircleAndSpring.png');
  background-repeat: no-repeat;
  background-position: 
    left 0,
    right 0;
}

.sell__title {
  text-transform: none;
}

.sell__subtitle {
  margin: 16px auto 32px;
}

/* footer */
.footer {
  padding: 80px 0 40px;
}

/* стили для логотипа, расположенного в footer */
.footer__logo {
  top: -25%;
}
/* остальные стили берутся из блока header */

.footer__menu::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #CCD5DF;
  margin: 40px auto;
}

.copyright {
  font-weight: 300;
font-size: 14px;
line-height: 20px;
color: #000000;
opacity: 0.5;
}